.entryForm table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#logList th.uuid, #logList th.logName {
	display: none;
}

#logListContainer {
	overflow-y: auto;
	height: 450px;
}